{% extends 'base.html.twig' %}

{% block title %}Your Dashboard{% endblock %}

{% block container %}
    {% if app.user %}
        <h1>Hello {{ app.user.name }}!</h1>
        {% if app.user.isConfirmed == false %}
            Confirm your account to use all features.
        {% endif %}
    {% else %}
        <h1> Hello guest!</h1>
        <div class="alert alert-warning" role="alert">
            Sign in to access all of the features...
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    {% for event in events %}
                        <div class="card mb-4">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                                 xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                 focusable="false"
                                 role="img" aria-label="Placeholder: Image cap">
                                <rect fill="#868e96" width="100%" height="100%"></rect>
                                <text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text>
                            </svg>
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('app_event', {id: event.id}) }}">{{ event.title }}</a></h5>
                                <p class="card-text">{{ event.description }}</p>
                            </div>
                            <div class="card-body">
                                <div class="float-left" style="font-size: 13px;">
                                    {{ event.dateFrom|date("m/d/Y") }} - {{ event.dateTo|date("m/d/Y") }}<br>
                                    {{ event.location }}
                                </div>
                                {% for spot in event.spots %}
                                    <span class="{% if spot.isAvailable %}badge-success {% else %} badge-dark {% endif %}
                            float-right badge m-1">{{ spot.role.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Event Categories</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for category in categories %}
                                <a href="#"
                                   class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">
                                    {{ category.name }}
                                    <span class="badge badge-primary badge-pill">14</span>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                    tags,
                    categories,
                    search
                </div>
            </div>
        </div>
    </div>
{% endblock %}
